<app-header id="header-char" [title]="(edit? 'Editar':'Nuevo') + ' personaje'"></app-header>

<ion-content>
  <div id="stepper-char" class="fixed shadow-md stepper-container z-50">
    <app-stepper-guide (stepSelectedEvent)="stepSelected($event)"
      [stepLabels]="stepLabels"></app-stepper-guide>
  </div>
  <div id="stepper-back" class="w-full"></div>

  <!-- <div [ngSwitch]="step.toString()"> -->
    <ng-container *ngIf="step == 0" [ngTemplateOutlet]="basic"></ng-container>
    <ng-container *ngIf="step == 1" [ngTemplateOutlet]="appearance"></ng-container>
    <!--  <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="placeTem"></ng-container>
          <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="objectTem"></ng-container> -->
    <!-- </div> -->

  <ion-row class="mt-3">
    <ion-col>
      <ion-button (click)="stepperNext()" expand="block"
        [disabled]="buttonDisabled()">Siguiente</ion-button>
    </ion-col>
  </ion-row>

  <ng-template #basic>
    <form [formGroup]="characterFormGroups.basic"
      class="px-3 pt-4">
      <app-image-paste-area [(imageData)]="imageData"></app-image-paste-area>
      <br />
      <ion-input formControlName="name" label="Nombre"
        label-placement="floating"
        fill="outline" helperText="Obligatorio"></ion-input>
      <br />
      <ion-input formControlName="lastname" label="Apellido"
        label-placement="floating"
        fill="outline" helperText="Obligatorio"></ion-input>
      <br />
      <ion-input formControlName="nickname" label="Apodo"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="age" label="Edad" label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-select label="Género" formControlName="gender"
        label-placement="floating" fill="outline">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Femenino">Femenino</ion-select-option>
      </ion-select>
      <br />
      <ion-input formControlName="birthdate" label="Fecha de nacimiento"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="birthPlace" label="Lugar de nacimiento"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-select label="Historia" formControlName="storyId"
        label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let story of storiesList" [value]="story.id">{{story.title}}</ion-select-option>
      </ion-select>
    </form>
  </ng-template>

  <ng-template #appearance>
    <div [formGroup]="characterFormGroups.appearance"
      class="px-3 pt-4">
      <ion-input formControlName="height" label="Altura"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="weight" label="Peso"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="skin" label="Piel"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="eyes" label="Ojos" label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="hair" label="Cabello"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="distinguishableTraits"
        label="Rasgo distinguible"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-input formControlName="posture" label="Postura"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="otherPhysicalTrait" label="Otro rasgo físico"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="outfit" label="Vestimenta"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="accessories" label="Accesorios"
        label-placement="floating"
        fill="outline"></ion-textarea>
  </div>
  </ng-template>

</ion-content>
