<app-header id="header-char" [title]="(edit? 'Editar':'Nuevo') + ' personaje'"></app-header>

<ion-content>
  <div [id]="this.stepperID" class="fixed shadow-md stepper-container z-50">
    <app-stepper-guide (stepSelectedEvent)="stepSelected($event)"
      [stepLabels]="stepLabels" [lineal]="!edit"></app-stepper-guide>
  </div>
  <div [id]="stepperBackID" class="w-full"></div>

  <ng-container [ngSwitch]="step">
    <ng-container *ngSwitchCase="0" [ngTemplateOutlet]="basic"></ng-container>
    <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="appearance"></ng-container>
    <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="personality"></ng-container>
    <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="reactions"></ng-container>
    <ng-container *ngSwitchCase="4" [ngTemplateOutlet]="home"></ng-container>
    <ng-container *ngSwitchCase="5" [ngTemplateOutlet]="relations"></ng-container>
    <ng-container *ngSwitchCase="6" [ngTemplateOutlet]="aspirations"></ng-container>
    <ng-container *ngSwitchCase="7" [ngTemplateOutlet]="storyRole"></ng-container>
    <ng-container *ngSwitchCase="8" [ngTemplateOutlet]="other"></ng-container>
  </ng-container>

  <ion-row class="mt-3">
    <ion-col>
      <ion-button (click)="step == 8? saveCharacter():stepperNext()"
        expand="block"
        [disabled]="buttonDisabled()">{{step == 8? 'Guardar':'Siguiente'}}</ion-button>
    </ion-col>
  </ion-row>

  <ng-template #basic>
    <div class="w-full text-center text-lg font-bold">Básico</div>
    <form [formGroup]="characterFormGroups.basic"
      class="px-3 pt-4">
      <app-image-paste-area [(imageData)]="imageData"></app-image-paste-area>
      <br />
      <ion-input formControlName="name" label="Nombre"
        label-placement="floating"
        fill="outline" helperText="Obligatorio"></ion-input>
      <br />
      <ion-input formControlName="lastname" label="Apellido"
        label-placement="floating"
        fill="outline" helperText="Obligatorio"></ion-input>
      <br />
      <ion-input formControlName="nickname" label="Apodo"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="age" label="Edad" label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-select label="Género" formControlName="gender"
        label-placement="floating" fill="outline">
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="Femenino">Femenino</ion-select-option>
      </ion-select>
      <br />
      <ion-input formControlName="birthdate" label="Fecha de nacimiento"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="birthPlace" label="Lugar de nacimiento"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-select label="Historia" formControlName="storyId"
        label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let story of storiesList" [value]="story.id">{{story.title}}</ion-select-option>
      </ion-select>
    </form>
  </ng-template>

  <ng-template #appearance>
    <div class="w-full text-center text-lg font-bold">Apariencia</div>
    <form [formGroup]="characterFormGroups.appearance"
      class="px-3 pt-4">
      <ion-input formControlName="height" label="Altura"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="weight" label="Peso"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="skin" label="Piel"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="eyes" label="Ojos" label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="hair" label="Cabello"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="distinguishableTraits"
        label="Rasgo distinguible"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-input formControlName="posture" label="Postura"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="otherPhysicalTrait" label="Otro rasgo físico"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="outfit" label="Vestimenta"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="accessories" label="Accesorios"
        label-placement="floating"
        fill="outline"></ion-textarea>
    </form>
  </ng-template>

  <ng-template #personality>
    <div class="w-full text-center text-lg font-bold">Carácter</div>
    <form [formGroup]="characterFormGroups.personality"
      class="px-3 pt-4">
      <ion-input formControlName="generalPersonality" label="Carácter general"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="qualities" label="Cualidades"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="defects" label="Defectos"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="intelligence" label="Inteligencia"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="habits" label="Hábitos"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="fears" label="Miedos"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="skills" label="Habilidades"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="weaknesses" label="Debilidades"
        label-placement="floating"
        fill="outline"></ion-textarea>
    </form>
  </ng-template>

  <ng-template #reactions>
    <div class="w-full text-center text-lg font-bold">Reacciones</div>
    <form [formGroup]="characterFormGroups.reactions"
      class="px-3 pt-4">
      <ion-textarea formControlName="fear" label="Miedo"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="sorprise" label="Sorpresa"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="sadness" label="Tristeza"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="rejection" label="Rechazo"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="anger" label="Enfado"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="hapiness" label="Felicidad"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="anotherReaction" label="Otra reacción"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />

      <br />
      <div class="w-full text-center text-lg font-bold">Frases</div>
      <br />

      <ion-textarea formControlName="doubtPhrases" label="Duda"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="hapinessPhrases" label="Alegría"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="sadnessPhrases" label="Tristeza"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="enthusiasmPhrases" label="Entusiasmo"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="angerPhrases" label="Enojo"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="anotherPhrases" label="Otro"
        label-placement="floating"
        fill="outline"></ion-textarea>
    </form>
  </ng-template>

  <ng-template #home>
    <div class="w-full text-center text-lg font-bold">Residencia</div>
    <form [formGroup]="characterFormGroups.home"
      class="px-3 pt-4">
      <ion-input formControlName="country" label="País"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="province" label="Provincia"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="neighborhood" label="Barrio"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="homeDescription"
        label="Descripción del hogar"
        label-placement="floating" fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="neighbors" label="Vecinos"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
    </form>
  </ng-template>

  <ng-template #relations>
    <div class="w-full text-center text-lg font-bold">Relación</div>
    <form [formGroup]="characterRelated"
      class="px-3 pt-4">
      <ion-input formControlName="name" label="Nombre"
        label-placement="floating"
        fill="outline" helperText="Obligatorio"></ion-input>
      <br />
      <ion-select label="Relación" formControlName="relationship"
        label-placement="floating" fill="outline">
        <ion-select-option [value]="relationByNumber(num)"
          *ngFor="let num of ['7','6','5','4','3','2','1']">{{relationByNumber(num)}}</ion-select-option>
      </ion-select>
      <br />
      <ion-select label="Tipo de relación" formControlName="relationType"
        label-placement="floating" fill="outline">
        <ion-select-option value="Amigo">Amigo</ion-select-option>
        <ion-select-option value="Enemigo">Enemigo</ion-select-option>
        <ion-select-option value="Familiar">Familiar</ion-select-option>
        <ion-select-option value="Other">Otro</ion-select-option>
      </ion-select>

      <ion-row class="mt-2">
        <ion-col>
          <ion-button [disabled]="characterRelated.invalid" shape="round" (click)="addRelated()" >Agregar personaje relacionado</ion-button>
        </ion-col>
      </ion-row>
    
      <ion-list *ngIf="relatedCharacterList.length > 0" lines="inset">
        <ion-item-group *ngIf="getTypeRelateds('Amigo').length > 0">
          <ion-item-divider>
            <ion-label>Amigos</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let char of getTypeRelateds('Amigo')" lines="inset">
            <ion-label>
              <h2>{{char.name}}</h2>
              <p>{{char.relationship}}</p>
            </ion-label>
            <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="getTypeRelateds('Enemigo').length > 0">
          <ion-item-divider>
            <ion-label>Enemigos</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let char of getTypeRelateds('Enemigo')" lines="inset">
            <ion-label>
              <h2>{{char.name}}</h2>
              <p>{{char.relationship}}</p>
            </ion-label>
            <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="getTypeRelateds('Familiar').length > 0">
          <ion-item-divider>
            <ion-label>Familiares</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let char of getTypeRelateds('Familiar')" lines="inset">
            <ion-label>
              <h2>{{char.name}}</h2>
              <p>{{char.relationship}}</p>
            </ion-label>
            <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="getTypeRelateds('Other').length > 0">
          <ion-item-divider>
            <ion-label>Otros</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let char of getTypeRelateds('Other')" lines="inset">
            <ion-label>
              <h2>{{char.name}}</h2>
              <p>{{char.relationship}}</p>
            </ion-label>
            <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon>
          </ion-item>
        </ion-item-group>

      </ion-list>

    </form>
  </ng-template>

  <ng-template #aspirations>
    <div class="w-full text-center text-lg font-bold">Aspiraciones</div>
    <form [formGroup]="characterFormGroups.aspirations"
      class="px-3 pt-4">
      <ion-input formControlName="hobbies" label="Le gusta"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="dislike" label="No le gusta"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-input formControlName="professionOrStudies"
        label="Estudios/Profesión"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="goals"
        label="Metas"
        label-placement="floating" fill="outline"></ion-textarea>
    </form>
  </ng-template>

  <ng-template #storyRole>
    <div class="w-full text-center text-lg font-bold">Rol en la historia</div>
    <form [formGroup]="characterFormGroups.storyRole"
      class="px-3 pt-4">
      <ion-select label="Rol" formControlName="rol"
        label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let num of ['1','2','3','4','5']"
          [value]="rolLabelByNumber(num)">{{rolLabelByNumber(num)}}</ion-select-option>
      </ion-select>
      <br />
      <ion-input formControlName="importantEvent" label="Evento más importante"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="bestMemories"
        label="Mejores recuerdos"
        label-placement="floating"
        fill="outline"></ion-textarea>
      <br />
      <ion-textarea formControlName="worstMemories"
        label="Peores recuerdos"
        label-placement="floating" fill="outline"></ion-textarea>
    </form>
  </ng-template>

  <ng-template #other>
    <div class="w-full text-center text-lg font-bold">Otro dato adicional</div>
    <form [formGroup]="characterFormGroups.other"
      class="px-3 pt-4">
      <ion-input formControlName="label" label="Etiqueta"
        label-placement="floating"
        fill="outline"></ion-input>
      <br />
      <ion-textarea formControlName="content"
        label="Desarrollo"
        label-placement="floating"
        fill="outline"></ion-textarea>
    </form>
  </ng-template>

</ion-content>
