<app-header title="Nuevo objecto"></app-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="saveObject()" class="px-3 pt-4">
    <app-image-paste-area [(imageData)]="imageData"></app-image-paste-area>
    <br />
    <ion-input formControlName="name" label="Nombre" label-placement="floating"
      fill="outline"></ion-input>
    <br />
    <ion-input helperText="Esto no es obligatorio" formControlName="nickname" label="Apodo"
      label-placement="floating"
      fill="outline"></ion-input>
    <br />
    <ion-textarea formControlName="description"
      label="Descripción" label-placement="floating"
      fill="outline"></ion-textarea>
    <br />
    <ion-textarea helperText="Esto no es obligatorio" formControlName="additionalInfo" label="Información adicional"
      label-placement="floating"
      fill="outline"></ion-textarea>
    <br />
    <ion-select label="Historia" formControlName="storyId"
      label-placement="floating" fill="outline">
      <ion-select-option *ngFor="let story of storiesList" [value]="story.id">{{story.title}}</ion-select-option>
    </ion-select>
    <ion-row class="mt-4">
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!formGroup.valid">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
