<app-header [title]="title" [showEdit]="true" (editEvent)="editResource()"></app-header>

<ion-content [fullscreen]="true">
  <ng-container [ngSwitch]="resourceType">
    <ng-container *ngSwitchCase="'story'" [ngTemplateOutlet]="storyTem"></ng-container>
    <ng-container *ngSwitchCase="'series'" [ngTemplateOutlet]="seriesTem"></ng-container>
    <ng-container *ngSwitchCase="'place'" [ngTemplateOutlet]="placeTem"></ng-container>
    <ng-container *ngSwitchCase="'object'" [ngTemplateOutlet]="objectTem"></ng-container>
    <ng-container *ngSwitchCase="'character'" [ngTemplateOutlet]="characterTem"></ng-container>
  </ng-container>
</ion-content>

<ng-template #storyTem>
  <div class="w-full flex justify-center">
    <img *ngIf="story?.image" [src]="story.image">
  </div>
  <br />
  <div class="px-2">
    <h2 class="text-xl font-bold">{{story.title}}</h2>
    <h2 *ngIf="story.series" class="text-sm font-semibold mb-1">{{story.series.title}}</h2>
    <h2 class="text-md font-semibold">Sinopsis</h2>
    <p>{{story.synopsis}}</p>
    <br />

    <p class="text-sm font-medium">Géneros</p>
    <p>{{story.genre.join(', ')}}</p>
    <br />
    <div *ngIf="chapterByStory && chapterByStory.length > 0">
      <ion-item button>
        <ion-label (click)="showChapters = !showChapters" class="text-lg font-bold">Lista de capítulos</ion-label>
        <ion-icon [name]="showChapters? 'chevron-down':'chevron-forward'"></ion-icon>
      </ion-item>
      <ion-list *ngIf="showChapters">
        <ion-list-header>
          <ion-label>Capítulos</ion-label>
          <ion-button (click)="changeChapterSummaries()"
           size="small" shape="round">{{showAllChapterSummaries? 'Ocultar resúmenes':'Mostrar resúmenes'}}</ion-button>
        </ion-list-header>
        
        <ion-item-sliding *ngFor="let chapter of chapterByStory">
          <ion-item button (click)="viewChapter(chapter)">
            <ion-label>
              <h3>{{'Capítulo '+chapter.order}}</h3>
              <p class="">{{chapter.title}}</p>
              <p *ngIf="showAllChapterSummaries || chapter.select" class="mt-1">{{chapter.summary}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option (click)="editChapter(chapter)" color="primary">Editar</ion-item-option>
            <ion-item-option (click)="deleteChapter(chapter)" color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-item *ngIf="characterByStory.length > 0" button>
        <ion-label (click)="showCharacters = !showCharacters" class="text-lg font-bold">Lista de personajes</ion-label>
        <ion-icon [name]="showCharacters? 'chevron-down':'chevron-forward'"></ion-icon>
      </ion-item>
      <ion-list *ngIf="showCharacters">
        <ion-item *ngFor="let res of characterByStory" button>
          <ion-img slot="start" class="w-16 h-16"
            [src]="res.basic.image || 'assets/placeholder.jpg'"></ion-img>
          <ion-label>
            <h3>{{res.basic.name +' '+res.basic.lastname}}</h3>
            <p>{{res.basic.nickname}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item *ngIf="placesByStory.length > 0" button>
        <ion-label (click)="showPlaces = !showPlaces" class="text-lg font-bold">Lista de lugares</ion-label>
        <ion-icon [name]="showPlaces? 'chevron-down':'chevron-forward'"></ion-icon>
      </ion-item>
      <ion-list *ngIf="showPlaces">
        <ion-item *ngFor="let res of placesByStory" button>
          <ion-img slot="start" class="w-16 h-16"
            [src]="res?.image || 'assets/placeholder.jpg'"></ion-img>
          <ion-label>
            <h3>{{res.name}}</h3>
            <p>{{res.generalDescription}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item *ngIf="objectsByStory.length > 0" button>
        <ion-label (click)="showObjects = !showObjects" class="text-lg font-bold">Lista de objectos</ion-label>
        <ion-icon [name]="showObjects? 'chevron-down':'chevron-forward'"></ion-icon>
      </ion-item>
      <ion-list *ngIf="showObjects">
        <ion-item *ngFor="let res of objectsByStory" button>
          <ion-img slot="start" class="w-16 h-16"
            [src]="res?.image || 'assets/placeholder.jpg'"></ion-img>
          <ion-label>
            <h3>{{res.name}}</h3>
            <p>{{res.description}}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      
    </div>
  </div>
</ng-template>

<ng-template #seriesTem>
  <div class="w-full flex justify-center">
    <img *ngIf="series?.image" [src]="series.image">
  </div>
  <br />
  <div class="px-2">
    <h2 class="text-xl font-bold">{{series.title}}</h2>
    <h2 class="text-md font-semibold">Sinopsis</h2>
    <p>{{series.synopsis}}</p>
    <br />
    <div *ngIf="storiesBySeries && storiesBySeries.length > 0">
      <p class="text-sm font-medium">Historias</p>
      <p>{{storiesBySeries.join(', ')}}</p>
    </div>
    <br />
  </div>
</ng-template>

<ng-template #placeTem>
  <div class="w-full flex justify-center">
    <img *ngIf="place?.image" [src]="place.image">
  </div>
  <br />
  <div class="px-2">
    <h2 class="text-xl font-bold">{{place.name}}</h2>
    <h2 *ngIf="place.storyId" class="text-sm font-semibold mb-1">{{storyByResource}}</h2>
    <h2 class="text-md font-semibold">Descripción general</h2>
    <p>{{place.generalDescription}}</p>
    <br />

    <div *ngIf="place.nickname">
      <h2 class="text-md font-semibold">Apodo</h2>
      <p>{{place.nickname}}</p>
    </div>
    <br />

    <h2 class="text-md font-semibold">Contenido</h2>
    <p>{{place.content}}</p>
    <br />

    <div
      *ngIf="place.feelAtributes.smell && place.feelAtributes.view && place.feelAtributes.sound">
      <h2 class="text-md font-bold mb-1">Sentidos</h2>
      <h2 class="text-md font-medium">Vista</h2>
      <p>{{place.feelAtributes.view}}</p>
      <h2 class="text-md font-medium">Olor</h2>
      <p>{{place.feelAtributes.smell}}</p>
      <h2 class="text-md font-medium">Sonido</h2>
      <p>{{place.feelAtributes.sound}}</p>
    </div>
    <br />
  </div>
</ng-template>

<ng-template #objectTem>
  <div class="w-full flex justify-center">
    <img *ngIf="object?.image" [src]="object.image">
  </div>
  <br />
  <div class="px-2">
    <h2 class="text-xl font-bold">{{object.name}}</h2>
    <h2 *ngIf="object.storyId" class="text-sm font-semibold mb-1">{{storyByResource}}</h2>
    <h2 class="text-md font-semibold">Descripción</h2>
    <p>{{object.description}}</p>
    <br />

    <div *ngIf="object.nickname">
      <h2 class="text-md font-semibold">Apodo</h2>
      <p>{{object.nickname}}</p>
    </div>
    <br />

    <div *ngIf="object.additionalInfo">
      <h2 class="text-md font-semibold">Información adicional</h2>
      <p>{{object.additionalInfo}}</p>
    </div>
    <br />
  </div>
</ng-template>

<ng-template #characterTem>
  <div class="w-full flex justify-center">
    <img *ngIf="character.basic.image" [src]="character.basic.image">
  </div>
  <br />
  <div class="px-2">
    <h2 class="text-xl font-bold">{{character.basic.name+' '+character.basic.lastname}}</h2>
    <h2 *ngIf="character.basic.storyId" class="text-sm font-semibold mb-1">{{storyByResource}}</h2>
    <br/>
    <h2 *ngIf="hasSomeValue(character.basic)" class="text-lg font-bold text-center">Básico</h2>
    <app-view-segment [data]="character.basic.nickname" title="Apodo"></app-view-segment>
    <app-view-segment [data]="character.basic.age" title="Edad"></app-view-segment>
    <app-view-segment [data]="character.basic.gender" title="Género"></app-view-segment>
    <app-view-segment [data]="character.basic.birthdate" title="Fecha de cumpleaños"></app-view-segment>
    <app-view-segment [data]="character.basic.birthPlace" title="Lugar de nacimiento"></app-view-segment>
    <br/>
    <h2 *ngIf="hasSomeValue(character.appearance)" class="text-lg font-bold text-center">Apariencia</h2>
    <app-view-segment [data]="character.appearance.height" title="Altura"></app-view-segment>
    <app-view-segment [data]="character.appearance.weight" title="Peso"></app-view-segment>
    <app-view-segment [data]="character.appearance.skin" title="Piel"></app-view-segment>
    <app-view-segment [data]="character.appearance.eyes" title="Ojos"></app-view-segment>
    <app-view-segment [data]="character.appearance.hair" title="Cabello"></app-view-segment>
    <app-view-segment [data]="character.appearance.distinguishableTraits" title="Rasgos distinguibles"></app-view-segment>
    <app-view-segment [data]="character.appearance.posture" title="Postura"></app-view-segment>
    <app-view-segment [data]="character.appearance.otherPhysicalTrait" title="Otro rasgo físico"></app-view-segment>
    <app-view-segment [data]="character.appearance.outfit" title="Vestimenta"></app-view-segment>
    <app-view-segment [data]="character.appearance.accessories" title="Accesorios"></app-view-segment>
    <br />
    <h2 *ngIf="hasSomeValue(character.personality)" class="text-lg font-bold text-center">Personalidad</h2>
    <app-view-segment [data]="character.personality.generalPersonality" title="Carácter general"></app-view-segment>
    <app-view-segment [data]="character.personality.qualities" title="Cualidades"></app-view-segment>
    <app-view-segment [data]="character.personality.defects" title="Defectos"></app-view-segment>
    <app-view-segment [data]="character.personality.intelligence" title="Inteligencia"></app-view-segment>
    <app-view-segment [data]="character.personality.habits" title="Hábitos"></app-view-segment>
    <app-view-segment [data]="character.personality.fears" title="Miedos"></app-view-segment>
    <app-view-segment [data]="character.personality.skills" title="Habilidades"></app-view-segment>
    <app-view-segment [data]="character.personality.weaknesses" title="Debilidades"></app-view-segment>
    <br />
    <h2 *ngIf="hasSomeValue(character.reactions)" class="text-lg font-bold text-center">Reacciones</h2>
    <app-view-segment [data]="character.reactions.fear" title="Carácter general"></app-view-segment>
    <app-view-segment [data]="character.reactions.sorprise" title="Cualidades"></app-view-segment>
    <app-view-segment [data]="character.reactions.sadness" title="Defectos"></app-view-segment>
    <app-view-segment [data]="character.reactions.rejection" title="Inteligencia"></app-view-segment>
    <app-view-segment [data]="character.reactions.anger" title="Hábitos"></app-view-segment>
    <app-view-segment [data]="character.reactions.hapiness" title="Miedos"></app-view-segment>
    <app-view-segment [data]="character.reactions.anotherReaction" title="Debilidades"></app-view-segment>
    <h2 *ngIf="hasSomeValue(character.reactions)" class="text-md font-bold text-center">Frases</h2>
    <app-view-segment [data]="character.reactions.doubtPhrases" title="Duda"></app-view-segment>
    <app-view-segment [data]="character.reactions.hapinessPhrases" title="Alegría"></app-view-segment>
    <app-view-segment [data]="character.reactions.sadnessPhrases" title="Tristeza"></app-view-segment>
    <app-view-segment [data]="character.reactions.enthusiasmPhrases" title="Entusiasmo"></app-view-segment>
    <app-view-segment [data]="character.reactions.angerPhrases" title="Enojo"></app-view-segment>
    <app-view-segment [data]="character.reactions.anotherPhrases" title="Otras frases"></app-view-segment>
    <br />
    <h2 *ngIf="hasSomeValue(character.storyRole)" class="text-md font-bold text-center">Rol en la historia</h2>
    <app-view-segment [data]="character.storyRole.rol" title="Rol"></app-view-segment>
    <app-view-segment [data]="character.storyRole.importantEvent" title="Evento más importante"></app-view-segment>
    <app-view-segment [data]="character.storyRole.bestMemories" title="Mejores recuerdos"></app-view-segment>
    <app-view-segment [data]="character.storyRole.worstMemories" title="Peores recuerdos"></app-view-segment>

    <h2 *ngIf="hasSomeValue(character.other)" class="text-md font-bold text-center mt-1">Otro</h2>
    <app-view-segment [data]="character.other.content" title="{{character.other.label}}"></app-view-segment>
    <br />
    <h2 *ngIf="character.relations.character" class="text-md font-bold text-center">Relaciones</h2>
    <ion-list *ngIf="character.relations.character" lines="inset">
      <ion-item-group *ngIf="getTypeRelateds('Amigo').length > 0">
        <ion-item-divider>
          <ion-label>Amigos</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let char of getTypeRelateds('Amigo')" lines="inset">
          <ion-label>
            <h2>{{char.name}}</h2>
            <p>{{char.relationship}}</p>
          </ion-label>
          <!-- <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon> -->
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="getTypeRelateds('Enemigo').length > 0">
        <ion-item-divider>
          <ion-label>Enemigos</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let char of getTypeRelateds('Enemigo')" lines="inset">
          <ion-label>
            <h2>{{char.name}}</h2>
            <p>{{char.relationship}}</p>
          </ion-label>
          <!-- <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon> -->
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="getTypeRelateds('Familiar').length > 0">
        <ion-item-divider>
          <ion-label>Familiares</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let char of getTypeRelateds('Familiar')" lines="inset">
          <ion-label>
            <h2>{{char.name}}</h2>
            <p>{{char.relationship}}</p>
          </ion-label>
          <!-- <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon> -->
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="getTypeRelateds('Other').length > 0">
        <ion-item-divider>
          <ion-label>Otros</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let char of getTypeRelateds('Other')" lines="inset">
          <ion-label>
            <h2>{{char.name}}</h2>
            <p>{{char.relationship}}</p>
          </ion-label>
          <!-- <ion-icon (click)="deleteRelated(char)" name="trash" slot="end"></ion-icon> -->
        </ion-item>
      </ion-item-group>

    </ion-list>

  </div>
</ng-template>