<app-header title="Nueva historia"></app-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formGroup" (ngSubmit)="saveStory()" class="px-3 pt-4">
    <!-- <div #imageContainer></div> -->

    <app-image-paste-area [(imageData)]="imageData"></app-image-paste-area>
    <!-- <div id="story-image-copy-area" class="flex items-center justify-center border-2 rounded-lg border-dashed border-blue-700 h-14">
      <p class="text-center">Copie una imagen y péguela aquí</p>
    </div> -->
    <!-- <ion-input helperText="Esto no es obligatorio" formControlName="image" label="Imagen" label-placement="floating" fill="outline"></ion-input> -->
    <br />
    <ion-input formControlName="title" label="Título" label-placement="floating"
      fill="outline"></ion-input>
    <br />
    <!-- <ion-input helperText="Esto no es obligatorio" formControlName="series"
      label="Serie" label-placement="floating" fill="outline"></ion-input> -->
      <ion-select label="Serie" formControlName="series" label-placement="floating" fill="outline">
        <ion-select-option *ngFor="let sre of seriesList" [value]="sre.id">{{sre.title}}</ion-select-option>
        <!-- <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option> -->
      </ion-select>
    <br />

    <div class="flex flex-row">
      <ion-input formControlName="auxGenre" label="Géneros"
        label-placement="floating" fill="outline"></ion-input>
      <ion-button (click)="addGenre()" class="mt-2 mx-2 w-3/12" fill="outline"
        shape="round">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
    <div class="mt-1">
      <ion-chip *ngFor="let genre of genreList">
        <ion-label>{{genre}}</ion-label>
        <ion-icon (click)="deleteGenre(genre)" name="close"></ion-icon>
      </ion-chip>
    </div>

    <br />
    <ion-textarea formControlName="synopsis" label="Sinopsis"
      labelPlacement="floating" fill="outline"></ion-textarea>

    <ion-row class="mt-4">
      <ion-col>
        <ion-button type="submit" expand="block" [disabled]="!formGroup.valid">Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
